//- Script
//- HTML
.container#split-screen
  .cell.cell--1-of-2.cell--center
    img.circle(src="http://placekitten.com/300/300")
    h1 Cute Kitten
  .cell.cell--1-of-2.cell--center
    | Lorem ipsum dolor sit amet consectetur adipisicing elit.
    | Ipsum aliquid laudantium velit accusamus fuga nemo. Facilis,
    | eligendi dolorem recusandae similique tempora enim sit!
    | Expedita voluptatum dolorem, magnam provident soluta debitis.


//- Styles