// #Layout
*
  box-sizing: border-box
for val in 1 2 3 4 5 6
  h#{val}
    color: $off-black
body
  display: flex
  flex-direction: column
  height: 100vh
  color: $off-black-lighter
a
  color: $accent
  &:hover
    color: darken($accent, 30%)
.container
  display: flex
  margin 0 5em
  height: 100%
.cell
  display: flex
  flex-direction: column
  &--1-of-2
    width: 50%
  &--center
    justify-content: center
    align-items: center

// #Content
.circle
  border-radius: 50%