// Colors
$off-black = #121420
$off-black-lighter = #1B2432
$secondary-black = #2C2B3C
$secondary-black-lighter = #403F4C
$accent = #B76D68

// Font
$font-family = 'Roboto Mono'
$font-weight-bold = 700
$font-size = 18px